[submodule "grawity__code"]
	path = HOME/.bscripts/_forks/grawity__code
	url = ssh://git@github.com/grawity/code.git
	branch = main
	shallow = true

[submodule "HOME/.emacs.d/guess-style"]
	path = HOME/.emacs.d/guess-style
	url = https://github.com/nschum/guess-style.git
